<div class="heading">
	<h1>How to grow App Academy revenue?</h1>
</div>
<div class="explanation">

	<p>Watch the video below to see a brief outline of how I would grow App Academy revenue.</p>

</div>

<br />


<iframe src="//fast.wistia.net/embed/iframe/hjrgnxhmku" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="359"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>