<footer>
  <div class="bottom-nav">
    <div class="text-center">
      <p>
         &copy; 2015 Chris Hollister. All Rights Reserved.
        <%= link_to 'How to Grow', how_path %>.
      </p>
    </div> <!-- text -->
  </nav> <!-- row -->
</footer> <!-- copyright -->